[Desktop Entry]
Type=Application
Name=Start_loopback
Exec=python3 /home/physics/Develop/auto_setup_gphoto/gen_loopback.py -r
Icon=/home/physics/Develop/auto_setup_gphoto/img_461960.png
Terminal=true
